@import "~/src/scss/index.scss";


.topBar {
  position: relative;
  top: 0;
  left: 0%;
  width: 100%;
  display: inline-flexbox;
  justify-content: space-between;
  padding: 20px;

  > a {
    > img {
      height: 30px;
    }

    > i {
      font-size: 26px;
      color: $danger;
      margin: 0;
    }
  }
}

.block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
